
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    border:none;
    outline:none;
    scroll-behavior:smooth;
    font-family:'poppins','sans-serif';
}
:root{
    --bg-color:red;
    --text-color:black;
}
html{
    font-size:62.5%;
    overflow-x:hidden;
}
body{
    background(--bg-color);
    color(--text-color);
}
.header{
    position:fixed;
    top:0;
    left:0;
    width:100px;
    padding:2rem 7%;
    background:green;
    display:flex;
    align-items:center;
    z-index:100;
}
.navbar{
    font
}